# Dependencias
node_modules

# Build
dist

# Cobertura
coverage

# Variables de entorno (contienen credenciales)
.env
.env.*
!.env.example

# Prisma Client generado
/src/generated
prisma/generated

# Otros
*.tsbuildinfo
*.log